.idea
.idea/*
.idea/workspace.xml
.DS_Store
web/bundles/
web/js/compiled/*
app/bootstrap.php.cache
app/cache/*
app/sessions/*
app/logs/*
build/
vendor
app/config/parameters.yml
composer.lock
/.project
*.php~
*.lock

.idea/workspace.xml

*.lock

*.iml
vendor
components